ul, li{
  list-style-type: none;

}
.titulo{
  font-weight: 600;
  color: Gray;
  font-size: 26px;
}

.codigo{
  font-size: 18px;
  color: Gray;
}


.precio{
  font-size: 35px;
color:  #ffcb84;
font-weight: 600;
}


*{
  font-family: 'Montserrat', sans-serif;
}

.boton{
    justify-content: center !important;
    display: flex !important;
    width: 30% !important;
    background: black !important;
border: 1px solid !important;
}

.divimagen{
  padding: 20px;
}
