ul, li{
  list-style-type: none;

}
.tituloList{
  font-weight: 600;
  color: black;
}

.codigoList{
  font-size: 35px;
  color: #ffcb84;
  font-weight: 600;
}
.tituloPrincipalListado{
font-size: 25px;
 color: black;
 text-align: center;
 font-weight: 600;
}

.imgCard{
  border-radius: 8px;
  box-shadow: 10px 10px 5px -7px rgba(176,176,176);
}

*{
  font-family: 'Montserrat', sans-serif;
}
