.inputcontador{
  background: #ffcb84 !important;
    color: white !important;
    font-weight: 600 !important;
    border: none !important;
    font-size: 18px !important;
    text-align: center !important;
    height: 34px !important;

}


.estilodiv{
  border: 1px solid gray;
    /* background: #ffdede !important; */
    width: 34%;
    padding: 6px;
    border-radius: 6px;
    height: 46px;
}


.botoncontador{
   font-size: 26px !important;
    background: none !important;
    border: none !important;
    color: gray !important;
    font-weight: 600 !important;
    line-height: 0 !important;

}
